<div class="col-md-8">
  <div class="card card-user">
    <div class="card-header">
      <h5 class="card-title">{{this.selectedId?'Editar Cita':'Crear Cita'}}</h5>
    </div>
    <div class="card-body">
      <form
        [formGroup]="appointmentForm"
        (ngSubmit)="submit()"
      >
        <div class="row">
          <div class="col-md-4 pr-1">
            <div class="form-group">
              <label >Fecha</label>
              <input
                type="date"
                formControlName="date"
                class="form-control"
                [class]="
                        submitted && appointmentForm.get('date').invalid
                          ? 'errorField'
                          : ''
                      "
              />
            </div>
          </div>
          <div class="col-md-4 pr-1">
            <div class="form-group">
              <label>Hora</label>
              <input
                type="time"
                formControlName="hour"
                class="form-control"
                [class]="
                        submitted && appointmentForm.get('hour').invalid
                          ? 'errorField'
                          : ''
                      "
              />
            </div>
          </div>
          <div class="col-md-4 pl-1">
            <div class="form-group">
              <label>Estatus</label>
              <select #statusSelect
                      class="custom-select mb-3"
                      (ngModelChange)="changeStatus($event)"
                      (ngModel)="statuses"
                      formControlName="status"
              >
                <option selected value="">Selecciona un Estatus</option>
                <option *ngFor="let status of statuses" [ngValue]="status">
                  {{ status }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label>Paciente</label>
              <select #patientSelect
                      class="custom-select mb-3"
                      (ngModelChange)="changePatient($event)"
                      (ngModel)="patients"
                      formControlName="patient"
              >
                <option selected value="">Selecciona un Paciente</option>
                <option *ngFor="let patient of patients" [ngValue]="patient">
                  {{ patient.nombre }} {{patient.apellido}} - {{patient.correo}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label>Medico</label>
              <select #medicSelect
                      class="custom-select mb-3"
                      (ngModelChange)="changeMedic($event)"
                      (ngModel)="medics"
                      formControlName="medic"
              >
                <option selected value="">Selecciona un Médico</option>
                <option *ngFor="let medic of medics" [ngValue]="medic">
                  {{ medic.nombre }} {{medic.apellido}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="update ml-auto mr-auto">
            <button (click)="redirectList()" class="btn btn-danger btn-round mr-2">Cancelar</button>
            <button type="submit" class="btn btn-primary btn-round">{{this.selectedId?'Editar':'Crear'}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
